

<a class="btn btn-secondary" href="/courses" role="button">
    Courses
  </a>
  <a class="btn btn-secondary" href="/users" role="button">
    Users
  </a>
  <% if (logged_in? and current_user.affiliation == "Admin")%>
    
    <a class="btn btn-secondary" href="/applications" role="button">
      Applications
    </a>
    
  <% end %>

  <p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<table>
  <thead>
  <tr>
    <% if current_user.affiliation == "Admin" %>
    <th>Instructor</th>
    <% end %>
    <th>Student</th>
    <th>Recommended Class</th>
    <th>Recomendation Type</th>
  </tr>
  </thead>
  
  <tbody>
  <% @recommendations.each do |rec| %>
    <% if rec.ins_id.to_i == current_user.id.to_i or current_user.affiliation == "Admin"%>
    <tr>
      <% if current_user.affiliation == "Admin" %>
      <td><%= User.find(rec.ins_id.to_i).fname %> <%= User.find(rec.ins_id.to_i).lname %></td>
      <% end %>
      <td><%= rec.student_fname %> <%= rec.student_lname %></td>
      <td>CSE <%= rec.course_number %> Section <%= rec.section_number %></td>
      <td><%= rec.rec_type %></td>
      <td><%= link_to 'Show ', rec %></td>
      
        <td><%= link_to 'Edit',  edit_recommendation_path(rec) %></td>
        <td><%= link_to 'Destroy', rec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

