<p id="notice"><%= notice %></p>
<% curr_rec = Recommendation.find(params[:id]) %>
<p>
  <strong>Instructor First Name:</strong>
  <%= curr_rec.ins_fname %>
</p>

<p>
  <strong>Instructor Last Name:</strong>
  <%= curr_rec.ins_lname %>
</p>


<p>
  <strong>Student First Name:</strong>
  <%= curr_rec.student_fname %>
</p>

<p>
  <strong>Student Last Name:</strong>
  <%= curr_rec.student_lname %>
</p>

<p>
  <strong>Recommendation Type:</strong>
  <%= curr_rec.rec_type %>
</p>

<p>
  <strong>Course Number:</strong>
  <%= curr_rec.course_number %>
</p>

<p>
  <strong>Section Number:</strong>
  <%= curr_rec.section_number %>
</p>




<%if curr_rec.ins_username == current_user.username || current_user.affiliation == 'Admin'%>
  <%= link_to 'Edit', edit_recommendation_path(curr_rec) %>
  <%end %>
<%= link_to 'Back', recommendations_path %>
