<p id="notice"><%= notice %></p>

<h1>Search</h1>

<%= form_tag("/survey", :method => "get", class: 'navbar-form navbar-left') do %>
  <%= search_field_tag :searchLname, params[:searchLname], placeholder: "Last Name", class: "form-control"%>
  <%= search_field_tag :searchUsername, params[:searchUsername], placeholder: "User Name", class: "form-control"%>
  <%= search_field_tag :searchAffiliation, params[:searchAffiliation], placeholder: "Affiliation", class: "form-control"%>

  <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
<% end %>
<a class="btn btn-secondary" href="/courses" role="button">
  Search Courses
</a>
<% if (logged_in? and current_user.affiliation == "Admin")%>
  <a class="btn btn-secondary" href="/applied" role="button">
    All Applications
  </a>
  <a class="btn btn-secondary" href="/recommendations" role="button">
    All Recommendations
  </a>
<%end %>

<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Last</th>
    <th>First</th>
    <th>Affiliation</th>
    <th>Username</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @list
    @list.each do |user| %>
    <tr>
      <td><%= user.lname %></td>
      <td><%= user.fname %></td>
      <td><%= user.affiliation %></td>
      <td><%= user.username %></td>
      <td><%= link_to 'Show', current_user %></td>
      <% if (logged_in? and current_user.affiliation == "Admin") %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Course', new_course_path %-->
