<p id="notice"><%= notice %></p>
<% curr_user = User.find(params[:id]) %>
<p>
  <strong>First Name:</strong>
  <%= curr_user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= curr_user.lname %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= curr_user.affiliation %>
</p>

<p>
  <strong>Username</strong>
  <%= curr_user.username %>
</p>

<!--%= link_to 'Edit', edit_course_path(@course) %--> |
<%= link_to 'Back', users_path %>
