<p id="notice"><%= notice %></p>
<% curr_user = User.find(params[:id]) %>
<p>
  <strong>First Name:</strong>
  <%= curr_user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= curr_user.lname %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= curr_user.affiliation %>
</p>

<p>
  <strong>Email:</strong>
  <%= curr_user.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= curr_user.phone_number %>
</p>


<% if (current_user.id.to_i == curr_user.id.to_i or current_user.affiliation == "Admin" or current_user.affiliation == "Faculty")%>
  <h3> Current Applications</h3>
  <table>
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <% Application.all.each do |applicant| %>
      <% if applicant.user_id.to_i == curr_user.id.to_i %>
      <tr>
        <td><%= applicant.course_number %></td>
        <td><%= applicant.schedule%></td>
        <td><%= link_to 'Edit',  edit_application_path(applicant) %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
  
<% end %>

<%= link_to 'Back', users_path %>
