<p id="notice"><%= notice %></p>
<% curr_user = User.find(params[:id]) %>
<p>
  <strong>First Name:</strong>
  <%= curr_user.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= curr_user.lname %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= curr_user.affiliation %>
</p>

<p>
  <strong>Username</strong>
  <%= curr_user.username %>
</p>

<!--%= link_to 'Edit', edit_course_path(@course) %-->
<% if (current_user.username == curr_user.username and curr_user.affiliation == "Student")%>
  <h3> Current Applications</h3>
  <table>
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Schedule</th>
      </tr>
    </thead>
    <% Apply.all.each do |applicant|
      if applicant.email == current_user.read_attribute('username') + "@osu.edu" %>
      <tr>
        <td><%= applicant.course_number %></td>
        <td><%= applicant.last_name%></td>
        <td><%= applicant.first_name%></td>
        <td><%= applicant.phone_number %></td>
        <td><%= applicant.email%></td>
        <td><%= applicant.schedule%></td>
        <td><%= link_to 'Edit',  applied_path(applicant.id) %></td>
      </tr>
    <% end
    end %>
  </table>
<%
  end%>
  <%if curr_user.affiliation == "Student" &&  current_user.affiliation == "Faculty"%>
  <%= link_to 'Recommend', new_recommendation_path %>s
  <%
   end
%>
<%= link_to 'Back', users_path %>
