<a class="btn btn-secondary" href="/courses" role="button">
Courses
</a>
<a class="btn btn-secondary" href="/users" role="button">
  Users
</a>

<% if (logged_in? and current_user.affiliation == "Admin")%>
  <a class="btn btn-secondary" href="/applications" role="button">
    Applications
  </a>
  <a class="btn btn-secondary" href="/recommendations" role="button">
    Recommendations
  </a>

  <a class="btn btn-secondary" href="/matching" role="button">
    TA - course matching
  </a>
 
<%end %>



<p id="notice"><%= notice %></p>

<div>

<%= form_tag("matching", :method => "put", class: 'navbar-form navbar-left') do %>    
    <%= search_field_tag :searchCourse, params[:searchCourse], placeholder: "Course Number", class: "form-control"%>
 
  <%= button_tag "Submit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
<% end %>

<h1>Matches</h1>


<% @courseCandidateArray.each do |pair| %>
<a>Course number: <%= pair[1].course_number %> </a>
<a>Section number: <%= pair[1].section_number %> </a>
<% if (pair[0].length > 0) %>


<table>
  <thead>
    <tr>
      <th>First name </th>
      <th>Last name </th>
    </tr>
  </thead>

  <tbody>
    <% pair[0].each do |applicant| %>
	<% @applicant = User.where("id = '" + applicant.user_id.to_s + "'") %>
      <tr>
        <td><%= @applicant[0][:fname]  %> </td>
        <td><%= @applicant[0][:lname] %></td>
</tr>
        <%end %>

  </tbody>
</table>

<%else %>
		  No candidates yet!
		  </br>
<% end %>

<%end %>

<br>

</div>

<!--%= link_to 'New Course', new_course_path %-->
