<p id="notice"><%= notice %></p>

<h1>Applicants</h1>

<table>
  <thead>
  <tr>
    <th>Course Number</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Schedule</th>
  </tr>
  </thead>
  <a class="btn btn-secondary" href="/courses" role="button">
    Search Courses
  </a>
  <% if (logged_in? and current_user.affiliation == "Admin")%>
    <a class="btn btn-secondary" href="/users" role="button">
      All Users
    </a>
    <a class="btn btn-secondary" href="/recommendations" role="button">
      All Recommendations
    </a>
  <% end %>
  <tbody>
  <% @applicantList.each do |applicant| %>
    <tr>
      <td><%= applicant.course_number %></td>
      <td><%= applicant.last_name%></td>
      <td><%= applicant.first_name%></td>
      <td><%= applicant.phone_number %></td>
      <td><%= applicant.email%></td>
      <td><%= applicant.schedule%></td>
      <% if applicant.email == current_user.read_attribute('username') + "@osu.edu"  or current_user.affiliation == "Admin"%>
        <td><%= link_to 'Edit',  edit_path(applicant.id) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Course', new_course_path %-->
