<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @application.course_number %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @application.last_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @application.first_name %>
</p>

<p>
  <strong>Phone Number::</strong>
  <%= @application.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @application.schedule %>
</p>



<!--%= link_to 'Edit', edit_course_path(@course) %--> |

<% if logged_in? and current_user.affiliation == "Admin"%>
  <%=
    link_to 'Edit', edit_applied_path %> |
<% end %>
<a href="/applied">
  Back
</a>