<%= form_with(model: application, local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Course Number (Seperate using "," Use four digit University course code)' %>
    <br />
    <%= form.text_field :course_number %>
  </div>



  <div class="field">
    <%= form.label 'Class Schedule. Please keep it in the form /\A((\d{2}:\d{2}-\d{2}:\d{2},)*(\d{2}:\d{2}-\d{2}:\d{2});){0,5}\z/, for example: 12:30-13:45,14:15-15:00;14:45-16:05;12:30-13:45,14:15-15:00,15:30-16:30;12:30-13:45,14:15-15:00;14:45-16:05; where days are separated by ; classes by ,' %>
    <br />
    <%= form.text_field :schedule %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
