<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <table>
	<tr>
		<th>Course Number</th>
		<th>Course Name</th>
		<th>Section Number</th>
		<th>Location</th>
		<th>Time</th>
		<th>Instructor</th>
		<th>Session Length</th>
		<th>Session Component</th>
	</tr>
<% @sections.each do |section| %>
	<tr>
		<td><%= section.courseNumber %></td>
		<!--Couldn't figure out how to put course name-->
		<td></td>
		<td><%= section.sectionNumber %></td>
		<td><%= section.location %></td>
		<td><%= section.time %></td>
		<td><%= section.instructor %></td>
		<td><%= section.sessionLength %></td> 
		<td><%= section.sessionComponent %></td>   
	</tr>
<% end %>
</html>
