<%= form_with(model: teaching_assistant, local: true) do |form| %>
  <% if teaching_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teaching_assistant.errors.count, "error") %> prohibited this teaching_assistant from being saved:</h2>

      <ul>
        <% teaching_assistant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Course Number (Separate using "," Use four digit University course code)' %>
    <br />
    <%= form.collection_select :course_number, Course.group(:course_number), :course_number, :course_number, prompt: "Select a Course" %>
  </div>



  <div class="field">
    <%= form.label 'Section Number' %>
    <br />
    <%= form.text_field :section_number %>
  </div>

  <div class="field">
    <%= form.label 'Student:' %>
    <br />
    <%= form.collection_select :user_id, User.where("affiliation LIKE 'Student'"), :id, :username, prompt: "Select a student"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
