
<a class="btn btn-secondary" href="/courses" role="button">
Courses
</a>
<% if (logged_in? and current_user.affiliation == "Admin")%>
<a class="btn btn-secondary" href="/users" role="button">
Users
</a>
<% end %>
<h1>Your Courses</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course Number</th>
      <th scope="col">Grade</th>
      <th />
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @student_courses.each do | course | %>
    <tr>

      <th scope="row"><%= i %> </th>
      <td><%= course.course_number %></td> 
      <td><%= course.grade %></td>
      <td><%=link_to "Edit", edit_student_course_path(course), :class=>"btn btn-secondary" %></td>

    </tr>
    <%i = i + 1%>
    <%end%>
  </tbody>

</table>

<div class="d-flex flex-row">

 <div><%=link_to "Add Course", '/student_courses/new', :class=>"btn btn-secondary" %></div>

</div>



