<p id="notice"><%= notice %></p>

<h2>Grader Application</h2>

<%= form_tag("/applied", :method => "post", class: 'navbar-form navbar-left') do %>    
    <%= search_field_tag :appliedCourse, params[:appliedCourse], placeholder: "Course Number", class: "form-control" %>  
    <%= search_field_tag :appliedLastName, params[:appliedLastName], placeholder: "Last Name", class: "form-control"%>
	<%= search_field_tag :appliedFirstName, params[:appliedFirstName], placeholder: "First Name", class: "form-control"%>
    <%= search_field_tag :appliedPhone, params[:appliedPhone], placeholder: "Phone Number", class: "form-control"%>
 	<%= search_field_tag :appliedEmail, params[:appliedEmail], placeholder: "Email", class: "form-control"%>
	<%= search_field_tag :appliedSchedule, params[:appliedSchedule], placeholder: "Schedule", class: "form-control"%>
      <%= button_tag "Submit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  

<% end %>




